:root {
  --off-black: #171717;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #171717;
  color: white;
  font-family: monospace;
  margin: 0;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}

textarea,
input {
  margin-top: 0.5rem;
  padding: 0.25rem;
}

textarea {
  font-size: 1rem;
  max-width: 100%;
}

input {
  height: 2.5rem;
}

button {
  cursor: pointer;
  width: 9rem;
  height: 3rem;
  transition: border-radius 0.25s ease-out, color 0.25s ease-out,
    background-color 0.25s ease-out;
}

#root {
  padding: 2rem 1rem;
}

.app {
  max-width: 860px;
  margin: auto;
}

.create-quote {
  max-width: 480px;
  padding: 1rem;
  margin-bottom: 3rem;
  color: var(--off-black);
  background-color: white;
}

.create-quote__form {
  display: flex;
  flex-direction: column;
}

#category {
  height: 2.5rem;
  margin-top: 0.5rem;
}

.create-quote__btn {
  background-color: transparent;
  border: 1px solid var(--off-black);
  margin-top: 1rem;
}

.create-quote__btn:hover {
  background-color: var(--off-black);
  color: white;
  border-radius: 2rem;
}

.search-quotes__container {
  max-width: 480px;
}

.search-quotes__btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-top: 1rem;
}

.search-quotes__btn:hover {
  background-color: white;
  color: var(--off-black);
  border-radius: 2rem;
}

.quote {
  padding: 1rem;
  border: 1px solid white;
}
